@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #6360ff;
  font-family: "DM Sans", sans-serif;

}
.bell {
  color: #FCFCFF;
  align-self: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 17vh;
}
.greetings {
  font-size: 0.7rem;
}
.name {
  font-size: 1rem;
}

.header-right {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 9%;
}

.header-content {
  display: flex;
  width: 100%;
  justify-content: space-around;

}

.header-content img {
  width: 20%;
}

.header-par {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "DM Sans", sans-serif;
  align-self: center;
}


a {
  text-decoration: none;
  color: black;
}

#rec-text {
  font-size: 1rem;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
}

.progress-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f1f1fa;
  height: 73vh;
  border-radius: 30px 30px 0px 0px;
  margin-top: 15%;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  align-self: center;
  min-height: 25vh;
  width: 85vw;
  border-radius: 10px;
  background-color: #fcfcff;
  position: relative;
  bottom: 7%;
}
.outside {
  background-color: #6360ff;
  border-radius: 20%;
  width: 10vh;
  height:10vh;
  margin-right: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.inside {
  background-color: #7e7bff;
  width: 3vh;
  height: 3vh;
  transform: rotate(45deg);

}

.first {
  display: flex;
  padding: 1em;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 10%;
  flex-shrink:3;
}

.text-part {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 2em;
}

.second {
  flex-shrink:1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.third {
  flex-shrink:2;
  padding-left: 1em;
  padding-right: 1em;
}

.medal {
  padding: 1em;
}

.medal-text {
  font-size: 0.7em;
  color: #9595b4;
}

.award {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
  height: 5vh;
  border-radius: 3vw;
  background-color: #F1F1FA;
}

.card-container {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 300px;
  /* check */
  gap: 15px;
  /*determines the space between elements in the flex container*/
}

.video-card {
  min-height: 14vh;
  width: 85vw;
  border-radius: 10px;
  background-color: #fcfcff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "DM Sans", sans-serif;
}

.recom-deatails {
  width: 52vw;
  height: 8vh;
  margin-left: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.details-par {
  font-size: 0.7em;
}
.price-tag {
  font-size: 0.7em;
  font-weight: bold;
}
#rating-tag {
  font-size: 1em;
  font-weight: bold;
  color: black;
}
ul {
  font-size: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right:10%;
  color: #91919f;
}

.recom-square {
  background-color: #ff8181;
  border-radius: 20%;
  width: 12vh;
  height: 12vh;
  margin-right: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.recom-circle {
  background-color: #fc9595;
  width: 30%;
  height: 30%;
  border-radius: 50%;
}

.nav-bar {
  background-color: #fcfcff;
  height: 5vh;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  bottom: 0;
  position: fixed;
}
.container {
  margin-bottom: 5%;
  background-color: #F1F1FA;
  width: 100%;
  border-radius: 15px;
  height: 2vh;
}

.skill {
  background-color: #7DC579;
  color: white;
  height: 2vh;
  border-radius: 15px;
}

.done {
  width: 30%;
}
/* @media (min-width: 800px) {
  body {
    background-color: #6360ff;
    display: flex;
    justify-content: center;
  }
} */
